html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424; /* background color for the whole page */
}

.containers {
  flex: 1; /* Allow the container to take the full available height */
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  padding: 20px;
}

